{% extends 'base.html' %}
{% load static %}

{% block title %}
New title from template
{% endblock title %}

{% block head %}
<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>
<!-- Custom styles for this template -->
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="{% static 'css/blog.css' %}" rel="stylesheet">
<title>톡커들의 선택 명예의 전당 : 네이트판</title>
{% endblock head %}



{% block content %}

{% include 'header.html' %}
<main class="container">
  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">Title of a longer featured blog post</h1>
      <p class="lead my-3">여기에 원하는 것을 넣을 수 있습니다.</p>
      <p class="lead mb-0"><a href="#" class="text-white fw-bold">더 읽기...</a></p>
    </div>
  </div>

    <div class="row mt-2 mb-2 g-5">
      <div class="col-md-12 pb-2" >
        <div class="px-4" style="background-color: #f8f9fa!important;">
        <h5 class="pt-4 pb-2">날짜를 선택하세요</h5>
        <form id="formId" method='get'>
          <div class="row form-group">
            <label for="date" class="col-sm-1 col-form-label">날짜</label>
            <div class="col-sm-4">
              <div class="input-group date" id="datepicker">
                <input type="text" class="form-control form-control-sm" name="date">
                <span class="input-group-append">
                  <span class="input-group-text bg-white">
                    <i class="fa fa-calendar"></i>
                  </span>
                </span>
              </div>
            </div>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row g-5">
    <div class="col-md-8">
      <div class="row mb-2">
        {% for new in news %}
        <div class="col-md-12">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-100 position-relative">
            <div class="col-auto d-none d-lg-block">
              {% if new.tmb %}
              <img src="{{new.tmb.url }}" alt="{{ new.title }}">
              {% else %}
              <img src="https://picsum.photos/100" alt="{{new.title}}">
              {% endif %}
            </div>
            <div class="col p-4 d-flex flex-column position-static">
              <!-- <strong class="d-inline-block mb-2 text-primary">내가 쓴 글 보기</strong> -->
              <h3 class="mb-0">{{ new.title }}</h3>
              <div class="mb-1 text-muted">{{new.postDate}}</div>
              <p class="card-text mb-auto">{{ new.excerpt }}</p>
              <p class="card-text mb-auto"><span>{{ new.count }}</span><span>{{ new.rcm }}</span></p>
              <a href="{% url 'talk' new.newsId %}" class="stretched-link">더 읽기</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      <nav class="blog-pagination" aria-label="Pagination">
        <a class="btn btn-outline-primary" href="#">Older</a>
        <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Newer</a>
      </nav>

    </div>

    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3 bg-light rounded">
          <h4 class="fst-italic">About</h4>
          <p class="mb-0">뉴스를 표시할 날짜를 선택하세요.</p>
        </div>

        <div class="p-4">
          <h4 class="fst-italic">Archives</h4>
          <ol class="list-unstyled mb-0">

            {% for day in days %}
            <li><a href="#">{{day.date}}</a><small> ({{day.count}})</small></li>
            {% endfor %}
          </ol>
        </div>

        <div class="p-4">
          <h4 class="fst-italic">Elsewhere</h4>
          <ol class="list-unstyled">
            <li><a href="#">GitHub</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>

</main>

<footer class="blog-footer">
  <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a
      href="https://twitter.com/mdo">@mdo</a>.</p>
  <p>
    <a href="#">Back to top</a>
  </p>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript">
  $(function () {
    $('#datepicker').datepicker()
      .on('changeDate', function (e) {
        $('#formId').submit();
      });
  })
</script>





{% endblock content %}
